<p-tabView style="width: 500px">
  <p-tabPanel *ngFor="let tab of tabs; let i = index">
    <ng-template pTemplate="header">
      <span>Tab header</span>
    </ng-template>  
  <fieldset>
  <legend>Without Animation</legend>
  <hr/>
  <h2>Plain *ngFor</h2>
  <ul class="items" style="width: 200px">
    <li *ngFor="let item of items" class="item"> {{item}}</li>
  </ul>
  </fieldset>
  
  <fieldset>
  <legend>With Animation</legend>
  <hr/>
  <h2>*ngFor wtih animation</h2>
  <button (click)="removeItem()">Delete third</button>
  <ul class="items" infiniteScroll [infiniteScrollThrottle]="50" [infiniteScrollDistance]="2" [scrollWindow]="false" style="width: 300px">
    <li *ngFor="let item of items" class="item">
      <div @itemRemove>
      <a href="">some dummy link for {{ item }}</a>
      <div class="action-wrapper">
        <button>button 1</button>
        <button>button 2</button>
        <button>button 3</button>
      </div>
      </div>
    </li>
  </ul>
  </fieldset>
  </p-tabPanel>
</p-tabView>
